[flake8]
extend-ignore =
   E501, # line too long
   E128, # continuation line under-indented for visual indent
   E203 # for playing well with Black
exclude =
   .git,
   __pycache__,
   extras,
   venv,
   ./gcexport_test.py
