[flake8]
extend-ignore =
   # E501: line too long
   E501,
   # E128: continuation line under-indented for visual indent
   E128,
   # E203: for playing well with Black
   E203
exclude =
   .git,
   __pycache__,
   extras,
   venv*,
   ./gcexport_test.py
